:root {
    --bs-body-font-family: 'Josefin Sans', sans-serif !important;
}

h1 {
    font-family: 'Dancing Script', cursive !important;
}

.NavBarBrand {
    font-family: 'Dancing Script', cursive !important;
}